
// [ PAGE: HOME ]
main.homepage {
    display: block;
    width: 100%;
}

.homepage .content  li.img {
    width: 100%; height: 300px;
    overflow: hidden;
    @include flex-align;
    background: #000;
    border-radius: 5px;
    margin-bottom: 50px;

    img {
        width: 100%;
    }
}
.homepage .content .text {
    font-size: 1.8rem;
    line-height: 2;
}
